* {
  --main-text-color: rgb(75, 75, 75);
  --light-text-color:  rgb(125, 125, 125);
  --extra-light-text-color:  rgb(175, 175, 175);
  --text-color-success: rgb(64, 158, 35);

  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  vertical-align: middle;
  max-width: 900px;
  margin: auto;
  color: var(--main-text-color);
  text-align: center;
  font-size: 3em;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  .header {
    flex-flow: column;
  }

  .doc-frame {
    object-fit: scale-down;
  }
}

.icon-list {
  display: flex;
  height: 100%;
  margin: auto;
  vertical-align: middle;
  position: relative;
}

.icon {
  padding: 5px;
  cursor: pointer;
}

.dark-icon {
  fill: var(--main-text-color);
  color: var(--main-text-color);
}

.light-icon {
  fill: white;
  color: white;
}

.dark-icon:hover {
  fill: var(--light-text-color);
}

.light-icon:hover {
  fill: var(--extra-light-text-color);
}

.realative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
}

.bg-dark {
  border: 2px solid var(--main-text-color);
  background-color: var(--light-text-color);
  border-radius: 5px 0 5px 0;
}

#Email {
  vertical-align: middle;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.email-copied {
  position: absolute;
  right: -30px;
  top: 35%;
  color: white;
  background-color: var(--text-color-success);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  animation: bounceInOut 3s;
}

.email-copied::before {
  content: "";
  border: 5px solid;
  border-color: var(--text-color-success) var(--text-color-success) transparent
    transparent;
  border-radius: 0px;
  transform: rotate(-135deg);
  position: absolute;
  top: 10px;
  left: -5px;
}

@keyframes bounceInOut {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex: 1;

  margin: auto;
  padding: auto;
}

.box {

  color: var(--main-text-color);
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 900px;
  min-width: 400px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

.doc-frame {
  height: 700px;
  flex: 1;
  margin: auto;
  object-fit: fill;
}

@media print {
  .doc-frame {
    position: absolute;
    height: auto;
    width: 100vh;
  }
}

.popover {
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  font-size: 1rem;
  padding: 5px;
  background-color: var(--main-text-color);
  border-radius: 5px;
}