* {
  --main-text-color: rgb(75, 75, 75);

  color: var(--main-text-color);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}


.header {
  width: 900px;
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-weight: 200;
}

.container {
  display: flex;
  flex: 1;
  margin: auto;
  padding: auto;
  align-self: center;
  align-content: center;
}

.box {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}